{#{% extends '::base.html.twig' %}#}

{#{% block body -%}#}
    {#<h1>Comment</h1>#}

    {#<table class="record_properties">#}
        {#<tbody>#}
            {#<tr>#}
                {#<th>Id</th>#}
                {#<td>{{ entity.id }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Text</th>#}
                {#<td>{{ entity.text }}</td>#}
            {#</tr>#}
        {#</tbody>#}
    {#</table>#}

        {#<ul class="record_actions">#}
    {#<li>#}
        {#<a href="{{ path('comment') }}">#}
            {#Back to the list#}
        {#</a>#}
    {#</li>#}
    {#<li>#}
        {#<a href="{{ path('comment_edit', { 'id': entity.id }) }}">#}
            {#Edit#}
        {#</a>#}
    {#</li>#}
    {#<li>{{ form(delete_form) }}</li>#}
{#</ul>#}
{#{% endblock %}#}

<div class="comment">
    {% if entity.user %}
        <h5 class="user">{{ entity.user }}</h5>
    {% else %}
        <h5 class="user">Anonymous user</h5>
    {% endif %}
    <div class="text">
        <p>
            {{ entity.text }}
        </p>
        {% if app.user %}
            {% if entity.user %}
                {% if app.user.id == entity.user.id %}
                    <a href="{{ path('comment_edit', {'id': entity.id}) }}">edit</a>
                {% endif %}
            {% endif %}
        {% endif %}

    </div>
</div>